@charset "UTF-8";
@font-face {
  font-family: "Playfair Display";
  src: url("../typo/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url(../typo/Raleway-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.gallery {
  width: 100%;
}
.gallery__h2 {
  font-size: 5vh;
  width: 100%;
  padding: 2vw;
}
.gallery__img {
  width: 100%;
}

h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Playfair Display";
  margin: 0%;
}
