@use "../abstracts/variable" as *;

.form__form__submit button{
    width: 10vh;
    height: 4vh;
    margin-left: 40vh;
    border: 0;
    margin-bottom: 5vh;
}

.sign_full button{
    background-color: map-get($map: $theme-colors, $key: 'secondary');
    border: 0;
    width: 12vh;
    height: 3.5vh;
}

.barbecue__section__descbarbecue__sign button{
    background-color: map-get($map: $theme-colors, $key: 'primary');
    border: 1px solid map-get($map: $theme-colors, $key: 'secondary');
    color: map-get($map: $theme-colors, $key: 'secondary' );
    width: 12vh;
    height: 3.5vh;
}

.feuille__button{
    display: flex;
    justify-content: center;

    & button{
        background-color: map-get($map: $theme-colors, $key: 'secondary');
        border: 0;
        width: 12vh;
        height: 3.5vh;
    }
}