@use '../abstracts/variable' as *;

.form{
    width: 70%;
    margin-left: 15%;
    background-color: map-get($map: $colors, $key: 'gris');
    display: flex;
    flex-direction: column;

    &__text{
        
        & h3{
            display: flex;
            justify-content: center;
            color: map-get($map: $colors, $key: 'white');
            
        }

        & p{
            display: flex;
            justify-content: center;
            color: map-get($map: $colors, $key: 'white');
        }
    }

    &__form{
        display: flex;
        justify-content: center;

        &__input{
            
            margin-bottom: 2vh;
        
            & input{
                width: 45vh;
                height: 5vh;
                background-color: map-get($map: $colors, $key: 'gris');
                border: 1px solid map-get($map:$colors, $key: 'white');

                & ::placeholder{
                    color: map-get($map: $colors, $key: 'white');
                }
            }
        }
    }
}