.barbecue__section{
    &____descbarbecue{
        width: 50%;
    }
    &__img{

        &____detail{
            width: 50%;
        }
    }
}

.montains__section{
    background:url('/Assets/img/montagne.png') no-repeat;
    height: 762px;
}